<footer class="footer">
  <div class="wrapper">
    <div class="footer__menu">
      <a class="footer__menu__logo" href="#" title="Ir a la home de Brook">
        <img
          src="./assets/images/brook-logo.png"
          alt="Brook logo"
          title="Logo de Brook"
        />
      </a>
      <nav class="footer__menu__options">
        <h4>About us</h4>
        <ul>
          <li>
            <a href="#" title="Ir a About us">About us</a>
          </li>
          <li>
            <a href="#" title="Ir a sección Teams">Teams</a>
          </li>
          <li>
            <a href="#" title="Ir a Career">Career</a>
          </li>
          <li>
            <a href="#" title="Ir a Services">Services</a>
          </li>
          <li>
            <a href="#" title="Ir a Contact">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="footer__menu__direction">
        <h4>Contact</h4>
        <p>2005 Stokes Isle Apt. 896</p>
        <p>ana ville 10010, USA</p>
        <p>info@yourdomain.com</p>
        <p>(+68) 120034509</p>

        <div class="footer__menu__direction__socialmedia">
          <ul>
            <li>
              <a
                class="fab fa-facebook-square"
                title="Ir a Facebook"
                href="#"
                target="_blank"
              >
              </a>
            </li>
            <li>
              <a
                class="fab fa-twitter"
                title="Ir a Twitter"
                href="@@refLinkedin"
                target="_blank"
              >
              </a>
            </li>
            <li>
              <a
                class="fab fa-instagram"
                title="Ir a Instagram"
                href="#"
                target="_blank"
              >
              </a>
            </li>
            <li>
              <a
                class="fab fa-dribbble"
                title="Ir a Dribbble"
                href="#"
                target="_blank"
              >
              </a>
            </li>
            <li>
              <a
                class="fab fa-pinterest"
                title="Ir a Pinterest"
                href="#"
                target="_blank"
              >
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <ul>
        <li>
          <a href="#" title="Ir a Our Blog">Our Blog</a>
        </li>
        <li>
          <a href="#" title="Ir a sección Latest projects">Latest projects</a>
        </li>
        <li>
          <a href="#" title="Ir a Contact us">Contact us</a>
        </li>
      </ul>
      <p>© 2019 Brook. All Rights Reserved</p>
    </div>
    <div class="footer__top__button">
      <a href="#top" title="Volver arriba">^</a>
    </div>
  </div>
</footer>
