
<header class="header">
    <a class="header__logo" href="#" title="Ir a la home de Brook">
      <img src="./assets/images/brook-logo.png" alt="Brook logo" title="Logo de"/>
    </a>
    <nav class="header__menu">
      <a href="#" class="header_menu_button" title="Mostrar menú móvil"></a>
      <ul class="header__menu__lista">
        <li>
          <a href="#" title="Ir a sección Home">Home</a>
        </li>
        <li>
          <a href="#" title="Ir a sección Pages">Pages</a>
        </li>
        <li>
          <a href="#" title="Ir a Portfolio">Portfolio</a>
        </li>
        <li>
          <a href="#" title="Ir a Blog">Blog</a>
        </li>
        <li>
          <a href="#" title="Ir a Contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
