
<header class="header" >
    <a class="header__logo" href="#" title="Ir a la home de Brook">
      <img id="header" src="./assets/images/brook-logo.png" alt="Brook logo" title="Logo de"/>
    </a>
    <nav class="header__menu">
      <div class="header__menu__button"><a href="#"  title="Mostrar menú móvil"></a></div>
      <ul class="header__menu__lista">
        <li>
          <a href="#" title="Ir a sección Home">Home</a>
        </li>
        <li>
          <a href="#" title="Ir a sección Pages">Pages</a>
        </li>
        <li>
          <a href="#" title="Ir a Portfolio">Portfolio</a>
        </li>
        <li>
          <a href="#" title="Ir a Blog">Blog</a>
        </li>
        <li>
          <a href="#" title="Ir a Contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
