<main class="main__">
  <section class="main__hero">
    <h1><span>This is Brook</span></h1>
    <h2><span>A full-service</span> <span>creative agency.</span></h2>
  </section>
  <section class="main__business">
    <div class="wrapper">
      <div class="main__business__text">
        <h4>What we do</h4>
        <h2>
          We design & build brands, campaigns & digital projects for businesses
          large & small.
        </h2>
      </div>

      <include
        src="../partials/options.html"
        pic="./assets/images/eye-icon.jpg"
        picAlt="Eye"
        picTittle="Imagen de ojo"
        nameH3="Modern Eye"
        description="Brook embraces a modern look with various enhanced pre-defined page
      elements."
        link="#"
        linkTitle="More details"
        linkText="More details"
      ></include>
      <include
        src="../partials/options.html"
        pic="./assets/images/book-icon.jpg"
        picAlt="Book"
        picTittle="Imagen de libro"
        nameH3="Modern Book"
        description="Brook embraces a modern look with various enhanced pre-defined page
      elements."
        link="#"
        linkTitle="More details"
        linkText="More details"
      ></include>
      <include
        src="../partials/options.html"
        pic="./assets/images/boxes-icon.jpg"
        picAlt="Box"
        picTittle="Imagen de cajas"
        nameH3="Modern Boxes"
        description="Brook embraces a modern look with various enhanced pre-defined page
      elements."
        link="#"
        linkTitle="More details"
        linkText="More details"
      ></include>
    </div>
  </section>
</main>
