<main class="main">
  <section class="hero">
    <span><h1>This is Brook</h1></span>
    <span><h2>A full-service</h2></span>
    <span><h2>creative agency</h2></span>
  </section>
  <section class="business">
    <h4>What we do</h4>
    <h2>
      We design & build brands, campaigns & digital projects for businesses
      large & small.
    </h2>
    <include
      src="../partials/options.html"
      pic="./assets/images/eye-icon.jpg"
      picAlt="Eye"
      nameH3="Modern Eye"
      description="Brook embraces a modern look with various enhanced pre-defined page
      elements."
      link="#"
      linkTitle="More details"
      linkText="More details"
    ></include>
    <include
      src="../partials/options.html"
      pic="./assets/images/book-icon.jpg"
      picAlt="Book"
      nameH3="Modern Book"
      description="Brook embraces a modern look with various enhanced pre-defined page
      elements."
      link="#"
      linkTitle="More details"
      linkText="More details"
    ></include>
    <include
      src="../partials/options.html"
      pic="./assets/images/boxes-icon.jpg"
      picAlt="Box"
      nameH3="Modern Boxes"
      description="Brook embraces a modern look with various enhanced pre-defined page
      elements."
      link="#"
      linkTitle="More details"
      linkText="More details"
    ></include>
  </section>
</main>
