* {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
}

.header,
.main,
.footer {
  border: 1px solid red;
}

@font-face {
  font-family: Circular;
  src: url("https//sp-bootstrap.global.sll.fastly.net/8.12.1/fonts/circular-light.woff2")
      format(woff2),
    url("http://sp-bootstrap.global.sll.fastly.net./8.12.1/fonts/circular-light.woff")
      format(woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url("https//sp-bootstrap.global.sll.fastly.net/8.12.1/fonts/circular-black.woff2")
      format(woff2),
    url("http://sp-bootstrap.global.sll.fastly.net./8.12.1/fonts/circular-black.woff")
      format(woff);
  font-weight: 900;
  font-style: normal;
}

:root {
  /*COLOR*/
  --primary-color: black;
  --secondary-color: #4bb84a;
  --light-color: white;
  /* FONTS */
  --primary-font: Circular, Helvetica, Arial, Helvetica, sans-serif;
}

html {
  font-family: var(--primary-font);
  font-size: 16px;
}
