// fonts
$main-font: "Source Sans Pro", sans-serif;

// colors
$main-color: #15339b;
$secondary-color: #de25e0;
$dark-color: #000000;
$light-color: #ffffff;

// breakpoints
$tablet: 768px;
$desktop: 1200px;
