.footer {
  background-color: $dark-color;
  color: $light-color;
  font-size: 0.8rem;
  & h4 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  &__menu {
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;

    &__logo {
      display: inline-block;
      box-sizing: content-box;
      width: 150px;
      padding: 1.5rem 0;
      & img {
        width: 100%;
      }
    }
    &__options {
      padding: 1.5rem 0;
      display: none;
    }
    &__direction {
      padding: 1.5rem 0;
      &__socialmedia {
        display: flex;
        & li {
          display: inline-block;
          padding: 0.5rem;
          margin-top: 1rem;
        }
      }
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    & li {
      display: inline-block;
      & a {
        padding: 0.5rem;
      }
    }
    & p {
      padding: 0.5rem;
      margin: 0.5rem;
    }
  }
  @include tablet {
    &__menu {
      max-width: 80vw;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      &__logo {
        margin-right: 25vw;
      }

      &__options {
        display: block;
        margin-right: 25vw;
      }
      &__direction {
        margin-right: 25vw;
      }
    }

    &__bottom {
      display: none;
    }
  }
  @include desktop {
    &__menu {
      max-width: 100%;
      flex-wrap: no-wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 0;

      &__logo {
        margin-left: 5%;
        margin-right: 50%;
      }

      &__options {
        margin-right: auto;
      }
      &__direction {
        margin-right: 5%;
      }
    }

    &__bottom {
      margin-top: 5vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & ul {
        margin-left: 5%;
      }
      & p {
        margin-right: 5%;
      }
    }
  }
}
