.main__hero {
  height: 100vh;
  background: url("../images/slider-home.jpg");
  background-size: auto 100%;
  background-position: 53% 60%;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & span {
    display: inline-block;
    font-size: 3rem;
    padding: 0.3rem;
    color: $light-color;
    font-weight: 200;
  }

  & h1 {
    &:before,
    &:after {
      color: $secondary-color;
      content: " - ";
      padding: 1rem;
    }
  }

  & h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include tablet {
    & span {
      font-size: 4rem;
    }
  }

  @include desktop {
    background-size: cover;
    & h2 {
      flex-direction: row;
      & span {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
      }
    }
  }
}

.main__business {
  background-color: $light-color;

  & .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    text-align: center;
    line-height: 2.5rem;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 2rem;
    & h2 {
      font-size: 1.7rem;
    }
    & h4 {
      text-transform: uppercase;
      color: $main-color;
    }
  }
  &__type {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    & h3 {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
    & p {
      margin-left: 15vw;
      margin-right: 15vw;
    }
    & a {
      padding: 0.2rem 0.5rem;
      & span {
        padding-left: 1rem;
        color: $main-color;
      }
    }
  }

  @include tablet {
    & .wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__text {
      flex-grow: 1;
      margin-top: 5vh;
    }
    &__type {
      width: 50%;
      & p {
        margin-left: 5vw;
        margin-right: 5vw;
      }
    }
  }
  @include desktop {
    &__type {
      width: 33.33%;
      margin-top: 10vh;
      margin-bottom: 10vh;
      & p {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
